*{
    box-sizing: border-box;
}

header {
    border:2px solid red;
    height: 100px;
    text-align: center;
    background-color: rgb(160, 103, 218);
    
}
section {
    border: 2px solid black;
    height: 400px;
    width: 33.333%;
    float: left;
    background-color: aquamarine;
    text-align: center;
    font-size: 25px;
}
footer {
    clear: both;
    border: 2px solid green;
    height: 100px;
    background-color: rgb(186, 73, 105);
    text-align: center;
}